{% extends 'store/main.html' %}
 
 
{% load static %}
{% static "images" as baseUrl %}

{% block content %}
    <br/><br/>
    <br/><br/>
    <div class= "col-md-6 offset-md-3 " style="background-color: #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 500px; width: 100%;">
        <h2 style="margin-bottom: 20px; text-align: center; color: #343a40;"> REGISTER</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <br>
            <button type="submit" class="btn btn-secondary" style="width: 100%; padding: 10px;">Registrati</button>
        </form>
    </div>
    <br/><br/>
    


{% endblock content %}